extends ../layout

block content
  p После того, как вы нажмёте эту кнопку, вы сможете прочесть сообщение.
  p Сразу же после этого оно будет стёрто из нашей базы данных.

  p
    form(method="post", action="/read")
      button Прочитать один раз и уничтожить
      input(type="hidden", value=id, name="id")

  p Вы можете передать ссылку на эту страницу другому человеку, чтобы он смог прочесть сообщение.

  p
    | Вместо этого можно <a href="/">написать другое одноразовое сообщение</a>.
