extends ../layout

block content
  p Вот его текст:

  pre.otm-text #{doc.text}

  p Конец сообщения.

  p.otm-notice
    <strong>Это сообщение прочитано вами!</strong> Теперь мы его с чистой совестью уничтожили, и больше его никто не сможет прочитать.

  p
    a(href="/") Написать ещё одно одноразовое сообщение.
